.new-books-section {
    border: 2px solid #333;
    padding: 10px;
    margin: 60px;
}

.new-books-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.recommend-books-section {
    border: 2px solid #333;
    padding: 10px;
    margin: 60px;
}

.recommend-books-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.new-books-container {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.recommend-books-container {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.book {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.book img {
    max-width: 100%;
    height: auto;
    max-height: 150px;
    margin-bottom: 10px;
}

.px-4 pt-5 my-5 text-center border-bottom{
    padding-top: 50%;
}