.lead mb-4{
    text-align: justify;
}

#searchForm {
    display: flex;
    justify-content: space-between;
}

.ts-select{
    margin-left: 10px;
}

.ts-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    max-height: 400px; /* 設定最大高度，可以根據需要調整 */
    overflow-y: auto; /* 如果內容超過最大高度，添加垂直滾動條 */
}

/* 保持下拉選單可見 */
.ts-dropdown.active {
    display: block;
}

.dropdown-item {
    display: block; /* 將每個選項顯示在新的一行 */
    margin-bottom: 10px;
}

.dropdown-buttons {
    margin-top: 20px;
}

#searchField {
    margin-left: 20px;
}

#productType {
    margin-left: 20px;
}

#priceRange {
    margin-left: 20px;
}

#publishDate{
    margin-left: 20px;
}

.card-img-top mb-5 mb-md-0{
    max-height: 300px; /* 設定書名容器的最大高度，可以根據需要調整 */
    overflow: hidden;
}

.lead{
    font-family: "Helvetica Neue", Helvetica, Arial, 微軟正黑體, 微软雅黑, メイリオ, "맑은 고딕", sans-serif;
    color: rgb(68, 68, 68);
    font-size: 18px;
}

.overflow-hidden shadow-lg img{
    weight: 300px;
    height: auto;
}

.search_not_found{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.search_not_found img{
    max-width: 30%; /* 限制圖片寬度不超過容器寬度 */
    max-height: 30%; /* 保持圖片高度自動調整 */
    margin-bottom: 20px;
}

.search_not_found h3{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}


