.lead mb-4{
    text-align: justify;
}

#searchForm {
    display: flex;
    justify-content: space-between;
}

.ts-select{
    margin-left: 10px;
}

.ts-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    max-height: 400px; /* 設定最大高度，可以根據需要調整 */
    overflow-y: auto; /* 如果內容超過最大高度，添加垂直滾動條 */
}

/* 保持下拉選單可見 */
.ts-dropdown.active {
    display: block;
}

.dropdown-item {
    display: block; /* 將每個選項顯示在新的一行 */
    margin-bottom: 10px;
}

.dropdown-buttons {
    margin-top: 20px;
}

#searchField {
    margin-left: 20px;
}

#productType {
    margin-left: 20px;
}

#priceRange {
    margin-left: 20px;
}

#publishDate{
    margin-left: 20px;
}

#page_not_found {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
