<div class="col-lg-5">
    <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header"><h3 class="text-center font-weight-light my-4">密碼重置</h3>
            <!-- Flash Messages Section -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <div class="card-body">

            <form method="POST" action="{{ url_for('userController.change_password') }}">
                {{ form.csrf_token }}
                <div class="form-floating mb-3">
                    {{ form.current_password(class="form-control", placeholder="Enter your current password") }}
                    <label>舊密碼</label>
                    {% for error in form.current_password.errors %}
                        <span style="color: red;">{{ error }}</span><br>
                    {% endfor %}
                </div>
                <div class="form-floating mb-3">
                    {{ form.new_password(class="form-control", placeholder="Enter your new password") }}
                    <label>新密碼</label>
                    {% for error in form.new_password.errors %}
                        <span style="color: red;">{{ error }}</span><br>
                    {% endfor %}
                </div>
                <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                    <a class="small" href="{{ url_for('userController.user_profile') }}">返回會員資料</a>
                    <button type="submit" class="d-grid btn btn-primary btn-block">確認</button>
                </div>
            </form>
        </div>
    </div>
</div>