<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Bookmazon</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/slide.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/book.css') }}" rel="stylesheet"/>
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
        }

        main {
         height: 85vh;
        }
    </style>
</head>
<body id="backgroundBody">
{% include './common/header.html' %}
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    {% include 'login/forgotPasswordForm.html' %}
                </div>
            </div>
        </main>
    </div>
    {% include './common/footer.html' %}

</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script>
        // JavaScript to toggle background images
        const backgroundBody = document.getElementById('backgroundBody');
        const images = ['bookstore_1.jpg', 'bookstore_2.jpg', 'bookstore_3.jpg', 'bookstore_4.jpg', 'bookstore_5.jpg', 'bookstore_6.jpg'];
        const randomIndex = Math.floor(Math.random() * images.length);

        function toggleBackgroundImage() {
            const imageUrl = "{{ url_for('static', filename='assets/img/') }}" + images[randomIndex];
            backgroundBody.style.backgroundImage = 'url("' + imageUrl + '")';
        }

        // Call the function to toggle background image
        toggleBackgroundImage();




</script>
</html>
