<div class="col-lg-5">
    <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header"><h3 class="text-center font-weight-light my-4">忘記密碼</h3>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"
                        aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endwith %}
        </div>
        <div class="card-body">
            <div class="small mb-3 text-muted">請輸入你的信箱</div>
            <form method="POST" action="{{url_for('userController.forgot_password')}}">
                {{ form.csrf_token }}
                <div class="form-floating mb-3">
                    {{ form.user_email(class="form-control", type="email", placeholder="Enter your email") }}
                    <label>信箱</label>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                    <a href="{{ url_for('userController.login') }}">返回登入頁面</a>
                    <button type="submit" class="d-grid btn btn-primary btn-block">發送至您的信箱</button>
                </div>
            </form>
        </div>
        <div class="card-footer text-center py-3">
            <a href="{{ url_for('userController.register') }}">需要帳號嗎? 立即註冊!</a>
        </div>
    </div>
</div>