<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <title>忘記密碼</title>
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">重置密碼</h3>

                    <!-- Flash 消息 -->
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {% for message in messages %}
                                    {{ message }}<br>
                                {% endfor %}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}
                    {% endwith %}

                    <!-- reset 密碼表單 -->
                    <form method="POST" action="{{ url_for('userController.reset_password', token=token) }}">
                        {{ form.csrf_token }}
                        <div class="form-floating mb-3">
                            {{ form.new_password(class="form-control", placeholder="Enter your new password") }}
                            <label>新密碼</label>
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.confirm_password(class="form-control", placeholder="Enter your confirm password") }}
                            <label>確認密碼</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                            <a class="small" href="{{ url_for('userController.login') }}">返回登入</a>
                            <button type="submit" class="d-grid btn btn-primary btn-block">確認</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
