<!-- Header-->
<nav class="py-2 bg-body-tertiary border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2 active"
                                    aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">About</a></li>
        </ul>

        <form class="d-flex">
            {% if current_user.is_authenticated %}
                <!-- 如果使用者已登入，則導向到購物車頁面 -->
                <a href="{{ url_for('cartController.view_cart') }}" class="btn btn-outline-dark ms-2">
                    <i class="bi-cart-fill me-1"></i>
                        Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill" id="cartItemCount">{{ cart_item_count }}</span> <!-- 您可以修改這裡的數字以反映實際的購物車物品數量 -->
                </a>
                <!-- 如果使用者已登入，則導向到查看所有訂單 -->
                <a href="{{ url_for('orderController.view_order') }}" class="btn btn-outline-dark ms-2">
                    <i class="bi bi-receipt me-1"></i>
                        查看訂單
                </a>

            {% else %}
                <!-- 不顯示按紐 -->
            {% endif %}
        </form>

        <ul class="nav">
           {% if not current_user.is_authenticated %}
                <!-- 如果用使用者登入顯示此内容 -->
            <li class="nav-item"><a href="{{ url_for('userController.login') }}" class="btn btn-outline-dark ms-2">Login</a></li>
            <li class="nav-item"><a href="{{ url_for('userController.register') }}" class="nav-link link-body-emphasis px-2">Sign up</a></li>
            {% else %}
            <li class="nav-item"><a href="{{ url_for('userController.user_profile') }}" class="btn btn-outline-dark ms-2">Welcome, {{ current_user.user.user_account }}!</a></li>
            <li class="nav-item"><a href="{{ url_for('userController.logout') }}" class="btn btn-outline-dark ms-2">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
        <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4">Bookmazon</span>
        </a>

        <form method="POST" action="{{ url_for('productController.search_books') }}" id="searchForm">
            <div class="ts-input">
                <input type="text" id="searchInput" name="keyword" placeholder="輸入搜尋內容…">
            </div>

            <div class="ts-select" id="customDropdown" data-dropdown="select">
                <div class="content">
                    <span></span>進階搜尋
                </div>
            </div>

            <div class="ts-dropdown" id="dropdownContent">
                <!-- 第一個下拉選單 -->
                <div class="dropdown-item">
                    <label for="searchField">搜尋欄位</label>
                    <select id="searchField" name="searchField">
                        <option value="title">全文</option>
                        <option value="bookName">書名</option>
                        <option value="author">作者</option>
                        <option value="publisher">出版商</option>
                        <option value="provider">提供者</option>
                        <option value="isbn">ISBN</option>
                    </select>
                </div>

                <!-- 第二個下拉選單 -->
                <div class="dropdown-item">
                    <label for="bookCategory">分類</label>
                    <select id="bookCategory" name="bookCategory">
                        <option value="all">All</option>
                        <option value="fiction">Fiction</option>
                        <option value="nonfiction">Non-Fiction</option>
                        <option value="mystery">Mystery</option>
                        <option value="science">Science</option>
                    </select>
                </div>

                <!-- 第三個下拉選單 -->
                <div class="dropdown-item">
                    <label for="priceRange">售價</label>
                    <span id="priceRange">
                        <input type="number" name="minPrice" min="0" placeholder="金額"  style="width: 100px;">
                        <span>至</span>
                        <input type="number" name="maxPrice" min="0" placeholder="金額"  style="width: 100px;">
                        <span>元</span>
                    </span>
                </div>

<!--                &lt;!&ndash; 第四個下拉選單 &ndash;&gt;-->
<!--                <div class="dropdown-item">-->
<!--                    <label for="publishDate">出版日期</label>-->
<!--                    <select id="publishDate" name="publishDate">-->
<!--                        <option value="all">All</option>-->
<!--                        <option value="lastYear">Last Year</option>-->
<!--                        <option value="last5Years">Last 5 Years</option>-->
<!--                        <option value="lastDecade">Last Decade</option>-->
<!--                    </select>-->
<!--                </div>-->

                <div class="dropdown-row">
                    <button id="cancelButton" onclick="closeDropdown()">取消</button>
                </div>
            </div>

            <button class="btn btn-outline-success ms-2" type="submit">Search</button>
        </form>
    </div>
</header>
<!-- Header-->
