<!-- Header -->
<style>
    .custom-title {
        font-size: 28px;
        font-weight: bold;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container">
        <a class="navbar-brand custom-title" href="{{ url_for('productController.getProducts') }}">Bookmazon</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <form method="POST" action="{{ url_for('productController.search_books') }}" id="searchForm"
                          class="d-flex">
                        <input type="text" id="searchInput" name="keyword" class="form-control me-2"
                               placeholder="輸入搜尋內容…">

                        <!-- 這裡使用 Bootstrap 的 dropdown -->
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="customDropdown"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                進階搜尋
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="customDropdown">
                                <!-- 第一個下拉選單 -->
                                <li>
                                    <label for="searchField" class="dropdown-item-text">搜尋欄位</label>
                                    <select id="searchField" name="searchField" class="form-select"
                                            style="width: 250px;">
                                        <!-- 調整這裡的寬度值 -->
                                        <option value="title">全文</option>
                                        <option value="bookName">書名</option>
                                        <option value="author">作者</option>
                                        <option value="publisher">出版商</option>
                                        <option value="provider">提供者</option>
                                        <option value="isbn">ISBN</option>
                                    </select>
                                </li>

                                <!-- 第二個下拉選單 -->
                                <li>
                                    <label for="bookCategory" class="dropdown-item-text">分類</label>
                                    <select id="bookCategory" name="bookCategory" class="form-select"
                                            style="width: 250px;">
                                        <!-- 調整這裡的寬度值 -->
                                        <option value="all">All</option>
                                        <option value="fiction">Fiction</option>
                                        <option value="nonfiction">Non-Fiction</option>
                                        <option value="mystery">Mystery</option>
                                        <option value="science">Science</option>
                                    </select>
                                </li>

                                <!-- 第三個下拉選單 -->
                                <li>
                                    <label class="dropdown-item-text">售價</label>
                                    <div class="input-group">
                                        <input type="number" name="minPrice" min="0" placeholder="金額"
                                               class="form-control"
                                               style="width: 100px;">
                                        <span class="input-group-text">至</span>
                                        <input type="number" name="maxPrice" min="0" placeholder="金額"
                                               class="form-control"
                                               style="width: 100px;">
                                        <span class="input-group-text">元</span>
                                    </div>
                                </li>

                                <!-- 其他下拉選單項目 -->
                            </ul>
                        </div>

                        <!-- 其他搜尋條件 -->
                        <button class="btn btn-outline-success ms-2" type="submit" style="white-space: nowrap;">搜尋</button>
                    </form>
                </li>
            </ul>

            <form class="d-flex">
                {% if current_user.is_authenticated %}
                <!-- 如果使用者已登入，則導向到購物車頁面 -->
                <a href="{{ url_for('cartController.view_cart') }}" class="btn btn-outline-dark me-2">
                    <i class="bi bi-cart-fill me-1"></i> 購物車
                    <span class="badge bg-dark text-white rounded-pill" id="cartItemCount">{{ cart_item_count }}</span>
                </a>
                <!-- 如果使用者已登入，則導向到查看所有訂單 -->
                <a href="{{ url_for('orderController.view_order') }}" class="btn btn-outline-dark me-2">
                    <i class="bi bi-receipt me-1"></i> 個人訂單
                </a>
                {% else %}
                <!-- 不顯示按鈕 -->
                {% endif %}
            </form>

            <ul class="navbar-nav">
                {% if not current_user.is_authenticated %}
                <!-- 如果用使用者登入顯示此内容 -->
                <li class="nav-item"><a href="{{ url_for('userController.login') }}" class="btn btn-outline-dark me-2">登入</a>
                </li>
                <li class="nav-item"><a href="{{ url_for('userController.register') }}" class="nav-link">註冊</a>
                </li>
                {% else %}
                <li class="nav-item"><a href="{{ url_for('userController.user_profile') }}"
                                        class="btn btn-outline-dark me-2">我的個人資訊</a></li>
                <li class="nav-item"><a href="{{ url_for('userController.logout') }}" class="btn btn-outline-dark me-2">登出</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<script>
    fetch('{{ url_for("cartController.view_cart_item_quantity") }}', {
        method: 'GET',
    })
    .then(response => response.json())
    .then(data => {
        const cartItemCountElement = document.getElementById('cartItemCount');
        cartItemCountElement.textContent = data.data.cart_item_quantity;
    })
    .catch(error => {
      console.log(error);
    });
</script>