<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Bookmazon</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/slide.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/book.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/search.css') }}" rel="stylesheet"/>
    <style>
        .card-img-top mb-5 mb-md-0{
            max-height: 300px; /* 設定書名容器的最大高度，可以根據需要調整 */
            overflow: hidden;
        }

        .lead{
            font-family: "Helvetica Neue", Helvetica, Arial, 微軟正黑體, 微软雅黑, メイリオ, "맑은 고딕", sans-serif;
            color: rgb(68, 68, 68);
            font-size: 18px;
        }

        .overflow-hidden shadow-lg img{
            weight: 300px;
            height: auto;
        }

    </style>
</head>

<body>
{% include '/product/header.html' %}
    {% if data %}
        <div class="container">
            <div class="row">
                <div class="col-lg-3" style="width: 300px;">
                    <div class="bg-body-tertiary p-5 rounded" style="width: 100%;">
                        <div class="dropdown-menu d-block position-static pt-0 mx-0 rounded-3 shadow overflow-hidden w-280px" data-bs-theme="light">
                            <h4>最近搜尋</h4>
                            <form class="p-2 mb-2 bg-body-tertiary border-bottom">
                              <input type="search" class="form-control" autocomplete="false" placeholder="Type to filter...">
                            </form>

                            <ul class="list-unstyled mb-0" id="searchList">
                              <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
                                <span class="d-inline-block bg-success rounded-circle p-1"></span>
                                Action
                              </a></li>
                              <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
                                <span class="d-inline-block bg-primary rounded-circle p-1"></span>
                                Another action
                              </a></li>
                              <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
                                <span class="d-inline-block bg-danger rounded-circle p-1"></span>
                                Something else here
                              </a></li>
                              <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
                                <span class="d-inline-block bg-info rounded-circle p-1"></span>
                                Separated link
                              </a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9" style="width: 800px; margin-left:auto">
                    {% for item in data %}
                    <div class="row p-2 pb-0 pe-lg-0 pt-lg-2 align-items-center rounded-3 border shadow-lg" style="width: 100%;">

                        <div class="col-lg-4 offset-lg-1 p-0" >
                            <img class="rounded-lg-3" src="{{ url_for('static', filename=item.book_image_path) }}" alt="{{ data.book_name }}" style="width: 250px; height: 250px; object-fit: contain;">
                        </div>

    <!--                    <div class="mb-2">-->
    <!--                        <span class="badge bg-primary">{{ item.book_category }}</span>-->
    <!--                        {% if item.item_status == '0' %}-->
    <!--                        <span class="badge bg-danger">不開放販售</span>-->
    <!--                        {% elif item.item_status == '1' %}-->
    <!--                        <span class="badge bg-success">開放販售</span>-->
    <!--                        {% endif %}-->
    <!--                    </div>-->

                        <div class="col-lg-7 p-3 p-lg-4 pt-lg-3">
                            <h3 class="lead">書名: {{ item.book_name }}</h3>
                            <div class="fs-5 mb-4" style="color: #8B0000;">
                                <span class="text-decoration-line-through">${{ item.book_price + 10 }}</span>
                                ${{ item.book_price }}
                            </div>
                            <h6 class="lead ">作者: {{ item.book_author }}</h6>
                            <h6 class="lead ">出版社: {{ item.book_publisher }}</h6>
                            <h6 class="lead">ISBN: {{ item.book_id }}</h6>
                            <h6 class="lead">提供者: {{ item.provider_account }}</h6>
                            <h6 class="lead">庫存: {{ item.book_count }}</h6>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                                <form method="POST" action="{{ url_for('productController.getDetailProductInfo', item_id=item.item_id) }}">
                                    <button type="submit" class="btn btn-primary rounded-pill px-3">二手書交易資訊</button>
                                </form>
                                {% if item.item_status == '1' and item.book_count > 1 %}
                                <form method="POST" action="{{ url_for('cartController.add_to_cart') }} " class="addToCartForm">
                                    <input type="hidden" name="item_id" value="{{ item.item_id }}">
                                    <input type="hidden" name="quantity" value="1"> <!-- 假設每次加入一個商品 -->
                                    <button type="submit" class="add-to-cart-button btn btn-secondary rounded-pill px-3">加入購物車</button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div style="display: grid; place-items: center; width:50%; max-width: 5%; height: 100vh;">
            <img src="{{ url_for('static', filename='assets/img/page-not-found.png') }}" alt="No results">
            <p>No results found.</p>
        </div>
    {% endif %}

{% include 'common/modal.html' %}
{% include './common/footer.html' %}
<script src="{{ url_for('static', filename='js/slide.js') }}"></script>
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
<script>
    // Select all forms with the class addToCartForm
    document.querySelectorAll('.addToCartForm').forEach(form => {
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            const messageModal = new bootstrap.Modal(document.getElementById('messageModal'));

            // Now create FormData from the current form
            const formData = new FormData(this);

            fetch('{{ url_for("cartController.add_to_cart") }}', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                // Check response type
                if (response.status === 401) {
                    document.getElementById('messageContent').innerText = '請先登入';
                    messageModal.show();
                    setTimeout(()=> {
                        messageModal.hide();
                        window.location.href = '{{ url_for("userController.login") }}';
                    }, 850);
                    return;
                }
                return response.json();
            })
            .then(data => {
                if (data) {
                    document.getElementById('messageContent').innerText = data.system_message;
                    messageModal.show();
                    setTimeout(()=> {
                        messageModal.hide();
                    }, 850);
                }
            })
            .catch((error) => {
                console.log(error);
            });
        });
    });

</script>
</html>

