<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{current_user.user_account}}的訂單列表</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>我的訂單</h1>

        <!-- 檢查是否有訂單 -->
        {% if orders|length > 0 %}
            <!-- 如果有訂單，迭代顯示每個訂單的編號 -->
            {% for order in orders %}
                <div class="order-details">
                    <h2>
                        <!-- 訂單編號作為一個連結 -->
                        <a href="{{ url_for('orderController.order_details', order_id=order.order_id) }}">
                            訂單編號: {{ order.order_id }}
                        </a>
                    </h2>
                    <!-- 可以在這裡顯示更多訂單的詳細訊息 -->
                </div>
            {% endfor %}
        {% else %}
            <!-- 如果沒有訂單，顯示訊息並提供一個前往購物的按鈕 -->
            <p>沒有訂單!</p>
            <a href="{{ url_for('productController.getProducts') }}" class="btn btn-primary">前往購物</a>
        {% endif %}
    </div>
</body>
</html>